@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    color: white;
    font-family: 'Quicksand';
}


body {
    /* font-weight: bold; */
    background-color: darkcyan;
}




p {
    font-size: 20px;
}