@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    color: white;
    font-family: 'Quicksand';
}



body {
  /*Need to figure out a way to format text with margins without edge gap */
    background-color: #235347;
}

#header {
    width: 100%;
    text-align: left;
}


p {
    font-size: 20px;
}