@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    color: white;
    font-family: 'Quicksand';
    margin-left: 20px;
}

body {
  /*Need to figure out a way to format text with margins without edge gap */
    background-color: #235347;
}

.header {
    text-align: left;
    margin-top: 35px;
    margin-left: 50px;
}

#starting-text {
    margin-top: 100px;
}

h1 {
    font-size: 60px;
    font-weight: normal;
}